{% extends "padre.html" %} 
  {% block title %}
  
  <title>Productos Andres</title>  
   
  {% endblock %}
  
 {% block content%}

  <h1 style="background-color: brown;color: burlywood;text-align: center;">Productos Don 4NDR3S</h1>

  <form action="/buscar/" method="GET">

  <div align="right">  
  <input type="text" name="producto">
  <input style="background-color: rgb(20, 20, 20);color: white;" type="submit" value="Buscar" >

  </div>
  
  {% for i in productos %}

  <div class="container">
   <div align="left">  
      
     <p><h5 style="color:white;">{{i.nombre_producto}}</h5></p>
     <p><img src="{{i.imagen_producto.url}}" alt="imagen producto" width="250" height="200"></p>
     <p><h6 style="color:white;">{{i.precio_producto}}</h6></p>
     
    </div>

   </div>
  {% endfor %}
 
 {% endblock %}
    


